d>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body><a href="switch9.html">pref</a> <a href="index.php">home</a> <a hr
ef="switch11.html">next</a><br>
  <center>day10: bould case, 230V circuitry and sockets</center><br>
  <br>
  <br>
I used a 10A main fuse, and a 2A fuse for each socket.

