<h2>Digital Power Switch</h2>
Final schematic:
<img src="power_switch.gif"><br>
(To Be Defined)<br>
<br>
The idea is to simply connect a relay to a RS232 port from the computer.<br>
As the RS232 port didn't had enough power to switch the relay I needed a little driver unit<br>
<br>

At first, I got this schematic from circuitsonline<br>
<img src="electronic (solid state) relais.gif"><br>
The optocoupler I used was a til111, but it was practicaly the same.<br>
The top schematic is a simple 12V power supply, you can use one suplly on multiple switches. you can also use a normal 12V adaptor.
<p>
The bottom schematic is the actual switch, it's very easy, the optocoupler
separates the digital signal and the high voltage circuit. The transistor
amplifies the signal and the TRIAC blocks all the current or passes all the
current.<br>
After testing it I noticed it wouldn't handle inductive loads (transformer)
</p>
<p><img border="0" src="sot54%20-%20bc557.bmp" width="144" height="188">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="to92%20-%20bc557.bmp">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img border="0" src="tic206.gif" width="86" height="176">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="till111.gif">

</p>
