<h2>power supply</h2>
The power supply is besides the computer the most expensive part in the system<br>
It plays a big role in the quality of the amplifier (which is often neglected)<br>
for my amplifier I need a solid 70V (or 2x35V) power supply which can deliver a peak current of at least 8A.<br>
A coil transformer of 2x24 V and at least 150 VA will do best.<br>
2 elco's of 20.000uF and a diode bridge of 25A are the only extra components. So again, only few components are needed<br>
<br>
Simple schematic:<br>
<img src="PSU_schema.gif"><br>
please pay attention to safety (not because of the rules but for yourself)<br>
I sealed mine in a wooden box, (don't know if I'm breaking fire hazard rules)<br>
<img src="PSU_thumb.jpg"><br>

