<h2>Programming</h2>
Linux -- KDE<br>
<hr>
This tells in short how to control the serial port in linux.<br>
I first searched for information on <a href="http://www.linuxdoc.org">linuxdoc.org</a> and found the serial-programming-HOWTO<br>
now I tried to make some little programs in C<br>
the final program was <a href="serialcontrol.html" target="_blanc">serialcontrol</a><br>
<?php include ("serialcontrol.html"); ?> 
<br>
here are some main functions:<br>
open the serial port with<br>
<b>fd = open(/dev/ttyS1, O_RDWR);</b><br>
 /dev/ttyS1 is the second serial port, O_RDWR means Open with ReaD WRite<br>
then set a pin to "high" with<br>
<b>ioctl(fd, TIOCMBIS,TIOCM_DTR);</b><br>
<br>
I made some cables to check how it's working<br>
<img src="rs232-cable.jpg"> <img src="rs232-cable-sch.gif"><br>
<br>
When that worked well I installed <a href="kdevelop.kde.org">kdevelop</a> and <a href="www.trolltech.com">QT designer</a> and tried some tutorials<br>
It didn't work out so good. But one day I got a tip-at-startup screen that said there was another develop page for kde: <a href="develop.kde.org"> develop.kde.org</a><br>
<br>
<br>
Dos -- Windows
<hr>
I haven't made a windows app yet as I don't have the info / library's to make windows GUI's. the DOS program is very short, but will work.<br>
A good site about serial programming is <a href="http://www.beyondlogic.org">beyondlogic.org</a>.
Now here are the source codes and binaries I made for windows. (To Be Defined)<br>
