Now the interface is just a cable between serial port 0 and the power switch/volume control<br>
<br>
the pinning<br> 
<br>
I haven't started with the serial interface yet, but I'm going to use the 74176.