serialcontrol.php <br><code><font color="#000000">
<br><font color="#FF8000">#include&nbsp;&lt;curses.h&gt;
<br>#include&nbsp;&lt;stdlib.h&gt;
<br>#include&nbsp;&lt;stdio.h&gt;
<br>#include&nbsp;&lt;unistd.h&gt;
<br>#include&nbsp;&lt;fcntl.h&gt;
<br>#include&nbsp;&lt;termios.h&gt;
<br>#include&nbsp;&lt;string.h&gt;
<br>#include&nbsp;&lt;sys/ioctl.h&gt;
<br>
<br>/*&nbsp;global&nbsp;variables&nbsp;*/
<br></font><font color="#0000BB">char&nbsp;device</font><font color="#007700">[</font><font color="#0000BB">255</font><font color="#007700">]&nbsp;=&nbsp;</font><font color="#DD0000">"/dev/ttyS0"</font><font color="#007700">;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">/*&nbsp;name&nbsp;of&nbsp;device&nbsp;to&nbsp;open&nbsp;*/
<br>
<br></font><font color="#0000BB">int&nbsp;main</font><font color="#007700">()
<br>{
<br>&nbsp;&nbsp;</font><font color="#0000BB">int&nbsp;fd</font><font color="#007700">,</font><font color="#0000BB">dtr</font><font color="#007700">,</font><font color="#0000BB">count</font><font color="#007700">=</font><font color="#0000BB">0</font><font color="#007700">;
<br>&nbsp;&nbsp;</font><font color="#0000BB">unsigned&nbsp;int&nbsp;arg</font><font color="#007700">;
<br>
<br>&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">/*&nbsp;open&nbsp;port&nbsp;*/
<br>&nbsp;&nbsp;</font><font color="#0000BB">fd&nbsp;</font><font color="#007700">=&nbsp;</font><font color="#0000BB">open</font><font color="#007700">(</font><font color="#0000BB">device</font><font color="#007700">,&nbsp;</font><font color="#0000BB">O_RDWR</font><font color="#007700">);
<br>&nbsp;&nbsp;if&nbsp;(</font><font color="#0000BB">fd&nbsp;</font><font color="#007700">==&nbsp;-</font><font color="#0000BB">1</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">char&nbsp;s</font><font color="#007700">[</font><font color="#0000BB">255</font><font color="#007700">];
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">sprintf</font><font color="#007700">(</font><font color="#0000BB">s</font><font color="#007700">,&nbsp;</font><font color="#DD0000">"statserial:&nbsp;can't&nbsp;open&nbsp;device&nbsp;`%s'"</font><font color="#007700">,&nbsp;</font><font color="#0000BB">device</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">perror</font><font color="#007700">(</font><font color="#0000BB">s</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;exit(</font><font color="#0000BB">1</font><font color="#007700">);
<br>&nbsp;&nbsp;}
<br>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">/*&nbsp;loop&nbsp;forever&nbsp;*/
<br>&nbsp;&nbsp;</font><font color="#007700">for&nbsp;(;;)&nbsp;{
<br>
<br>
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"Device:&nbsp;%s\n\n"</font><font color="#007700">,&nbsp;</font><font color="#0000BB">device</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"Signal&nbsp;&nbsp;Pin&nbsp;&nbsp;Pin&nbsp;&nbsp;Direction&nbsp;&nbsp;Status&nbsp;&nbsp;Full\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"Name&nbsp;&nbsp;&nbsp;&nbsp;(25)&nbsp;(9)&nbsp;&nbsp;(computer)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"-----&nbsp;&nbsp;&nbsp;---&nbsp;&nbsp;---&nbsp;&nbsp;---------&nbsp;&nbsp;------&nbsp;&nbsp;-----\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"FG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Frame&nbsp;Ground\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"TxD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Transmit&nbsp;Data\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_ST</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"RxD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Receive&nbsp;&nbsp;Data\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_SR</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"RTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Request&nbsp;To&nbsp;Send\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_RTS</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"CTS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Clear&nbsp;To&nbsp;Send\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_CTS</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"DSR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Data&nbsp;Set&nbsp;Ready\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_DSR</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"GND&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Signal&nbsp;Ground\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"DCD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Data&nbsp;Carrier&nbsp;Detect\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_CAR</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"DTR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Data&nbsp;Terminal&nbsp;Ready\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_DTR</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"RI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22&nbsp;&nbsp;&nbsp;&nbsp;9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%1d&nbsp;&nbsp;&nbsp;Ring&nbsp;Indicator\n"</font><font color="#007700">,&nbsp;!!(</font><font color="#0000BB">arg&nbsp;</font><font color="#007700">&amp;&nbsp;</font><font color="#0000BB">TIOCM_RNG</font><font color="#007700">));
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\ncounter:&nbsp;%1d\n"</font><font color="#007700">,</font><font color="#0000BB">count</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">count</font><font color="#007700">++;
<br>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;(</font><font color="#0000BB">count&nbsp;</font><font color="#007700">==&nbsp;</font><font color="#0000BB">3</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\nwh00000000000t\n\n&nbsp;hehehe\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">dtr</font><font color="#007700">=</font><font color="#0000BB">TIOCM_DTR</font><font color="#007700">;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;Clear&nbsp;DTR&nbsp;(4)
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">ioctl</font><font color="#007700">(</font><font color="#0000BB">fd</font><font color="#007700">,&nbsp;</font><font color="#0000BB">TIOCMBIC</font><font color="#007700">,&amp;</font><font color="#0000BB">dtr</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>&nbsp;if&nbsp;(</font><font color="#0000BB">count&nbsp;</font><font color="#007700">==&nbsp;</font><font color="#0000BB">6</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\nwh00000000000t\n\n&nbsp;hehehe\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">dtr</font><font color="#007700">=</font><font color="#0000BB">TIOCM_DTR</font><font color="#007700">;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;Set&nbsp;DTR
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">ioctl</font><font color="#007700">(</font><font color="#0000BB">fd</font><font color="#007700">,&nbsp;</font><font color="#0000BB">TIOCMBIS</font><font color="#007700">,&amp;</font><font color="#0000BB">dtr</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>&nbsp;if&nbsp;(</font><font color="#0000BB">count&nbsp;</font><font color="#007700">==&nbsp;</font><font color="#0000BB">9</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\nwh00000000000t\n\n&nbsp;hehehe\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">dtr</font><font color="#007700">=</font><font color="#0000BB">TIOCM_RTS</font><font color="#007700">;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;Clear&nbsp;RTS
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">ioctl</font><font color="#007700">(</font><font color="#0000BB">fd</font><font color="#007700">,&nbsp;</font><font color="#0000BB">TIOCMBIC</font><font color="#007700">,&amp;</font><font color="#0000BB">dtr</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>&nbsp;if&nbsp;(</font><font color="#0000BB">count&nbsp;</font><font color="#007700">==&nbsp;</font><font color="#0000BB">12</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\nwh00000000000t\n\n&nbsp;hehehe\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">dtr</font><font color="#007700">=</font><font color="#0000BB">TIOCM_ST</font><font color="#007700">;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;Set&nbsp;ST&nbsp;()
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">ioctl</font><font color="#007700">(</font><font color="#0000BB">fd</font><font color="#007700">,&nbsp;</font><font color="#0000BB">TIOCMBIS</font><font color="#007700">,&amp;</font><font color="#0000BB">dtr</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>
<br>&nbsp;if&nbsp;(</font><font color="#0000BB">count&nbsp;</font><font color="#007700">==&nbsp;</font><font color="#0000BB">15</font><font color="#007700">)&nbsp;{
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">printf</font><font color="#007700">(</font><font color="#DD0000">"\nwh00000000000t\n\n&nbsp;hehehe\n"</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">dtr</font><font color="#007700">=</font><font color="#0000BB">TIOCM_RTS</font><font color="#007700">;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;Set&nbsp;RI&nbsp;()
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">ioctl</font><font color="#007700">(</font><font color="#0000BB">fd</font><font color="#007700">,&nbsp;</font><font color="#0000BB">TIOCMBIS</font><font color="#007700">,&amp;</font><font color="#0000BB">dtr</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>
<br>&nbsp;&nbsp;&nbsp;</font><font color="#FF8000">//&nbsp;refresh();
<br>&nbsp;&nbsp;&nbsp;&nbsp;/*&nbsp;home&nbsp;cursor&nbsp;*/
<br>//:&nbsp;&nbsp;&nbsp;&nbsp;move(0,0);
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/*&nbsp;delay&nbsp;1&nbsp;second&nbsp;between&nbsp;loops&nbsp;*/
<br>&nbsp;&nbsp;&nbsp;&nbsp;</font><font color="#0000BB">sleep</font><font color="#007700">(</font><font color="#0000BB">1</font><font color="#007700">);
<br>&nbsp;&nbsp;&nbsp;&nbsp;}
<br>
<br>&nbsp;&nbsp;return&nbsp;</font><font color="#0000BB">0</font><font color="#007700">;
<br>}&nbsp;&nbsp;
<br></font><font color="#0000BB">?&gt;</font>
</font>
</code>