I use 2 Eltax Lineair Response speakers<br>
<br>
Music Power 120Watt<br>
Sinus Power 80Watt<br>
<br>
That fits perfect with the amplifier specifications.<br>
<br>
<a href="http://www.eltax.com/products/salgelektronik.php?varenr=01784">specs from eltax website</a><br>
<br>
The speakers are pretty big and heavy, but it has an increddible sound<br>
The bass reflection system and the low resonance frequency creates a very warm and low bass<br>
<br>
<img src="boxen.jpg"></img>
<br>

