<pre>
<span style='color:#696969; '>//swr calibrate tool, connect to fox delta hf bridge (fd-hfb2) as follows:</span>
<span style='color:#696969; '>// sub d pin 1 -> +5v on arduino</span>
<span style='color:#696969; '>// pin 2 -> gnd</span>
<span style='color:#696969; '>// pin 3 -> A1</span>
<span style='color:#696969; '>// pin 4 -> A2</span>

<span style='color:#004a43; '>#</span><span style='color:#004a43; '>include </span><span style='color:#800000; '>&lt;</span><span style='color:#40015a; '>LiquidCrystal.h</span><span style='color:#800000; '>></span>

LiquidCrystal lcd<span style='color:#808030; '>(</span><span style='color:#008c00; '>8</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>9</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>4</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>5</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>6</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>7</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>           <span style='color:#696969; '>// select the pins used on the LCD panel</span>

<span style='color:#800000; font-weight:bold; '>int</span> peakForward<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>int</span> peakReverse<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>int</span> counter<span style='color:#800080; '>;</span>

<span style='color:#800000; font-weight:bold; '>void</span> setup<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
   pinMode<span style='color:#808030; '>(</span>A0<span style='color:#808030; '>,</span>INPUT<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   pinMode<span style='color:#808030; '>(</span>A1<span style='color:#808030; '>,</span>INPUT<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   pinMode<span style='color:#808030; '>(</span>A2<span style='color:#808030; '>,</span>INPUT<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   lcd<span style='color:#808030; '>.</span>begin<span style='color:#808030; '>(</span><span style='color:#008c00; '>16</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>               <span style='color:#696969; '>// start the library</span>
   peakForward <span style='color:#808030; '>=</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
   peakReverse <span style='color:#808030; '>=</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
   counter <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
 
<span style='color:#800000; font-weight:bold; '>void</span> loop<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
  counter<span style='color:#808030; '>+</span><span style='color:#808030; '>+</span><span style='color:#800080; '>;</span>
  <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>counter<span style='color:#808030; '>=</span><span style='color:#808030; '>=</span><span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
    counter<span style='color:#808030; '>=</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
    peakForward<span style='color:#808030; '>=</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span> 
    peakReverse<span style='color:#808030; '>=</span><span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
  <span style='color:#800080; '>}</span>
   lcd<span style='color:#808030; '>.</span>setCursor<span style='color:#808030; '>(</span><span style='color:#008c00; '>9</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>             <span style='color:#696969; '>// move cursor to second line "1" and 9 spaces over</span>
   lcd<span style='color:#808030; '>.</span>print<span style='color:#808030; '>(</span>millis<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>/</span><span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>       <span style='color:#696969; '>// display seconds elapsed since power-up</span>

   lcd<span style='color:#808030; '>.</span>setCursor<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   <span style='color:#800000; font-weight:bold; '>char</span> buffer<span style='color:#808030; '>[</span><span style='color:#008c00; '>20</span><span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>
   
   <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>analogRead<span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>></span> peakForward<span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
       peakForward <span style='color:#808030; '>=</span> analogRead<span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   <span style='color:#800080; '>}</span>
   <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>analogRead<span style='color:#808030; '>(</span><span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>></span> peakReverse<span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
       peakReverse <span style='color:#808030; '>=</span> analogRead<span style='color:#808030; '>(</span><span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   <span style='color:#800080; '>}</span>
   <span style='color:#603000; '>sprintf</span><span style='color:#808030; '>(</span>buffer<span style='color:#808030; '>,</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>v1 </span><span style='color:#0f69ff; '>%d</span><span style='color:#0000e6; '> v2 </span><span style='color:#0f69ff; '>%d</span><span style='color:#0000e6; '>     </span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>peakForward<span style='color:#808030; '>,</span>peakReverse <span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   lcd<span style='color:#808030; '>.</span>print<span style='color:#808030; '>(</span>buffer<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
   
<span style='color:#800080; '>}</span>
</pre> 
